h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 70px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 20px;
    font-weight: normal;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.bell {
    width: 90%;
    margin: auto;
    text-align: center;
}

.bell h3 {
    text-align: justify;
}

.bell img {
    padding-top: 50px;
}

.banner {
    width: auto;
    background: #ADC8D1;
    clear: both;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.contenedor-columnas {
    padding-top: 50px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.columnasx2 {
    width: 25%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}

.columnasx2 img {
    width: 100%;
}

.columnasx2 p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    font-size: 12px;
    color: #B4B7B8;
}

.banner1 {
    width: auto;
    background: #ADC8D1;
    clear: both;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: rale;
}

footer {
    padding-top: 25px;
    text-align: center;
    font-family: 'lato';
    width: auto;
    height: 50px;
    background: #000;
    color: #fff;
}
